<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	version="5.0">
	<servlet>
		<description></description>
		<display-name>LoginControllerServlet</display-name>
		<servlet-name>LoginControllerServlet</servlet-name>
		<servlet-class>org.tfl.controller.LoginControllerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginControllerServlet</servlet-name>
		<url-pattern>/LoginControllerServlet</url-pattern>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<display-name>Asm3</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>ChangeLabelController</display-name>
		<servlet-name>ChangeLabelController</servlet-name>
		<servlet-class>org.tfl.controller.ChangeLabelController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangeLabelController</servlet-name>
		<url-pattern>/changeLabel</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MessageReadController</display-name>
		<servlet-name>MessageReadController</servlet-name>
		<servlet-class>org.tfl.controller.MessageReadController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageReadController</servlet-name>
		<url-pattern>/messageRead</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MessageWriteController</servlet-name>
		<servlet-class>org.tfl.controller.MessageWriteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageWriteController</servlet-name>
		<url-pattern>/messageWrite</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>OTPControllerServlet</display-name>
		<servlet-name>OTPControllerServlet</servlet-name>
		<servlet-class>org.tfl.controller.OTPControllerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OTPControllerServlet</servlet-name>
		<url-pattern>/otp</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RegisterControllerServlet</display-name>
		<servlet-name>RegisterControllerServlet</servlet-name>
		<servlet-class>org.tfl.controller.RegisterControllerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterControllerServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/error.jsp</location>
	</error-page>
</web-app>